
.question
  margin-top 60px
  text-align left
  ul
    margin 20px auto
    li
      text-align left
      padding 8px 16px
      border 1px solid #e3e3e3
      border-radius 4px
      list-style none
      margin 4px

.actions
  text-align center

.summary
  margin 0 auto
  max-width 600px
  text-align left
